%%-*- mode: erlang -*-

{deps, 
[
{webmachine,"1.10.*",{git, "git://github.com/basho/webmachine", "HEAD"}},
{epgsql, ".*", {git, "git://github.com/wg/epgsql.git", "3318bd5d64"}},
%{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
{ibrowse, "", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
{uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}}
]
}.

{sub_dirs,["apps/cloudpane","rel"]}.